name: Kotlin CI

on:
  push:
    branches:
      - main
      - dev
  pull_request_target:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: 'true'
    
    - name: Get changelog
      id: changelog
      run: |
          {
            echo "changelog<<EOF"
            echo "$(git log --pretty=format:"- %s (%h)" ${{ github.event.before }}..${{ github.sha }})"
            echo "EOF"
          } >> "$GITHUB_ENV"
    
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    
    - name: Add signing properties
      run: |
          echo ${{ secrets.SIGNING_PROPERTIES }} > encoded_signing_properties
          base64 -d -i encoded_signing_properties > signing.properties

    - name: Add jks file
      run: |
          echo ${{ secrets.SIGN_KEY }} > ./encoded_key
          base64 -d -i encoded_key > keystore.jks
      
    - name : Add SHORT_SHA Environment Variable
      id   : short-sha
      shell: bash      
      run  : echo "short_sha=`git rev-parse --short HEAD`" >> $GITHUB_ENV

    - name: Build with Gradle (Release)
      if: github.ref == 'refs/heads/main'
      env:
            SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
            SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
            VERSION_CODE: ${{ github.run_number }}
            # COMMIT_HASH: ${{ env.short_sha }}
      run: ./gradlew :tv:assembleRelease
    
    - name: Build with Gradle (Dev)
      if: github.ref == 'refs/heads/dev'
      env:
            SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
            SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
            VERSION_CODE: ${{ github.run_number }}
            # COMMIT_HASH: ${{ env.short_sha }}
      run: ./gradlew :tv:assembleDebug --warning-mode=all
      
    - name: Upload Artifact 
      if: github.event_name == 'push'
      uses: actions/upload-artifact@v4
      with:
        name: mytv-android.apk
        path: tv/build/outputs/apk/release/*.apk
    
    - name: Move Metadata (Dev) and Gen Tag
      if: github.event_name == 'push' && github.ref == 'refs/heads/dev'
      run: |
        mv tv/build/outputs/apk/original/debug/output-metadata.json tv/build/outputs/apk/release/output-metadata.json
        echo "release_title=V${{ env.info_version_name }} （开发版）" >> $GITHUB_ENV
        echo "gitee_repo=mytvdev" >> $GITHUB_ENV
    
    - name: Move Metadata  (Release) and Gen Tag
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      run: |
        mv tv/build/outputs/apk/original/release/output-metadata.json tv/build/outputs/apk/release/output-metadata.json
        echo "release_title=V${{ env.info_version_name }} （稳定版）" >> $GITHUB_ENV
        echo "gitee_repo=mytv" >> $GITHUB_ENV


    - name: Read apk output metadata
      if: github.event_name == 'push'
      id: apk-meta-release
      uses: juliangruber/read-file-action@v1
      with:
        path: tv/build/outputs/apk/release/output-metadata.json

    - name: Parse apk infos
      if: github.event_name == 'push'
      run: |
        echo "info_version_code=${{ fromJson(steps.apk-meta-release.outputs.content).elements[0].versionCode }}" >> $GITHUB_ENV
        echo "info_version_name=${{ fromJson(steps.apk-meta-release.outputs.content).elements[0].versionName }}" >> $GITHUB_ENV

    - name: Publish Release
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      uses: softprops/action-gh-release@v2
      with:
        files: |
            tv/build/outputs/apk/release/*.apk
        tag_name: V${{ env.info_version_name }}
        name: ${{ env.release_title }}
        body: ${{ env.changelog }}
        generate_release_notes: true
        make_latest: true

    - name: Publish Pre-Release
      if: github.event_name == 'push' && github.ref == 'refs/heads/dev'
      uses: softprops/action-gh-release@v2
      with:
        files: |
            tv/build/outputs/apk/release/*.apk
        tag_name: V${{ env.info_version_name }}
        name: ${{ env.release_title }}
        body: ${{ env.changelog }}
        generate_release_notes: true
        prerelease: true
      
    - name: Test create release
      if: github.event_name == 'push' and github.repo == 'mytv-android/mytv-android'
      id: create_release 
      uses: nicennnnnnnlee/action-gitee-release@v1.0
      with:
        gitee_owner: mytv-android
        gitee_repo: V${{ env.gitee_repo }}
        gitee_token: ${{ secrets.gitee_token }}
        gitee_tag_name: V${{ env.info_version_name }}
        gitee_release_name: ${{ env.release_title }}
        gitee_release_body: ${{ env.changelog }}
        gitee_target_commitish: master

    - name: Test upload file to exist release
      if: github.event_name == 'push' and github.repo == 'mytv-android/mytv-android'
      uses: nicennnnnnnlee/action-gitee-release@v1.0
      with:
        gitee_owner: mytv-android
        gitee_repo: V${{ env.gitee_repo }}
        gitee_token: ${{ secrets.gitee_token }}
        gitee_release_id: ${{ steps.create_release.outputs.release-id }}
        gitee_upload_retry_times:  3
        gitee_files: |
            tv/build/outputs/apk/release/*original.apk

